.clean {
  clear: both;
}
@font-face {
  font-family: "Minecraft";
  src: url(../fonts/Minecraft.ttf);
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Minecraft";
  font-size: 15px;
}
#pers_block {
  margin: 0 auto;
  padding-top: 270px;
  width: 382px;
  z-index: 2;
}
#pers {
  background-image: url(../img/pers1/sprite.png);
  width: 70px;
  height: 150px;
}
#string {
  position: relative;
  border: 1px solid #5a5a5a;
  padding: 10px;
  background-color: white;
  max-width: 250px;
  min-height: 24px;
  left: 110px;
  float: left;
  line-height: 23px;
  -webkit-box-shadow: 4px 4px 12px -2px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 4px 4px 12px -2px rgba(0, 0, 0, 0.47);
  box-shadow: 4px 4px 12px -2px rgba(0, 0, 0, 0.47);
}
#string:after {
  display: block;
  content: "";
  width: 14px;
  height: 30px;
  background-image: url(../img/blocks/dialog_arr.png);
  position: absolute;
  left: -14px;
  top: 6px;
}
#txt {
  width: 100%;
  height: 40px;
  border: 2px solid #5a5a5a;
  background-color: #EFEAEA;
  font-family: "Minecraft";
  font-size: 20px;
  padding: 0 10px;
  margin-top: 50px;
  outline: none;
}
#dark {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #000000;
  color: white;
  font-size: 50px;
  text-align: center;
  padding-top: 200px;
}
#dark #change_time {
  opacity: 0;
}
.bg_block {
  position: absolute;
  width: 100%;
  height: 400px;
  background-image: url(../img/backgrounds/coffee_in_rain_by_kirokaze-d98qb8z.gif);
  background-position: 0 -197px;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -2;
  margin-left: 0;
  margin-top: 0;
  float: left;
}
.block {
  width: 100%;
  height: 100px;
  float: left;
  margin-left: 0;
  background-color: red;
}
#quest_att {
  width: 35px;
  height: 40px;
  background-color: #f93838;
  line-height: 40px;
  position: absolute;
  top: 50px;
  right: 150px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#quest_att:hover {
  background-color: #f93838;
}
#questTextBox {
  position: absolute;
  width: 400px;
  background-color: rgba(33, 39, 51, 0);
  color: rgba(255, 255, 255, 0);
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  padding: 35px 20px 20px 20px;
  border-radius: 5px;
  top: 0;
  left: 50%;
  margin-left: -210px;
  transition: all .3s ease;
}
#questTextBox i {
  position: absolute;
  top: 5px;
  right: 8px;
  cursor: pointer;
}
