.clean {
  clear: both;
}
@font-face {
  font-family: "Minecraft";
  src: url(../fonts/Minecraft.ttf);
}
@font-face {
  font-family: "Astakhov Main";
  src: url(../fonts/10568.ttf);
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Minecraft";
  font-size: 15px;
}
#menu_full_block {
  width: 100%;
  height: 100%;
  position: absolute;
}
#menu_full_block .menu_bg_img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
  transition: opacity 3s, transform 16s linear;
}
#main_logo {
  position: absolute;
  font-family: 'Astakhov Main';
  left: 50%;
  top: 80px;
  font-size: 90px;
  width: 610px;
  margin-left: -305px;
  color: white;
}
#main_logo span {
  color: #f93838;
}
#menu_buttons {
  width: 300px;
  position: absolute;
  bottom: 100px;
  left: 100px;
  color: white;
  font-size: 20px;
  background-color: rgba(33, 39, 51, 0.8);
  border: 2px solid #212733;
  border-radius: 5px;
}
#menu_buttons ul {
  list-style: none;
}
#menu_buttons ul li {
  cursor: pointer;
  margin: 10px 0;
  display: inline-block;
}
#menu_buttons ul li:first-child {
  margin-bottom: 30px;
}
#menu_buttons ul li:hover {
  color: #f93838;
}
#author {
  position: absolute;
  font-size: 18px;
  bottom: 100px;
  right: 50px;
  color: #858585;
}
#author a {
  color: white;
  text-decoration: none;
}
#author a:hover {
  color: #f93838;
}
#options_window {
  background-color: black;
  width: 354px;
  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -180px;
  background-color: rgba(33, 39, 51, 0.9);
  border: 2px solid #212733;
  border-radius: 5px;
  color: white;
  font-size: 20px;
}
#options_window #options_window_exit {
  position: absolute;
  top: 5px;
  right: 8px;
  cursor: pointer;
}
#options_window ul {
  float: left;
  list-style: none;
}
#options_window ul li {
  line-height: 40px;
}
#options_window ul li:first-child {
  margin-top: 30px;
}
#options_window #values {
  margin-left: 40px;
}
#options_window #values li {
  text-align: right;
}
#options_window #values li i {
  width: 40px;
  cursor: pointer;
}
#pers_block {
  margin: 0 auto;
  padding-top: 270px;
  width: 382px;
  z-index: 2;
}
#pers {
  background-image: url(../img/pers1/sprite.png);
  width: 70px;
  height: 150px;
}
#string {
  position: relative;
  border: 1px solid #5a5a5a;
  padding: 10px;
  background-color: white;
  max-width: 250px;
  min-height: 24px;
  left: 110px;
  float: left;
  line-height: 23px;
  -webkit-box-shadow: 4px 4px 12px -2px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 4px 4px 12px -2px rgba(0, 0, 0, 0.47);
  box-shadow: 4px 4px 12px -2px rgba(0, 0, 0, 0.47);
}
#string:after {
  display: block;
  content: "";
  width: 14px;
  height: 30px;
  background-image: url(../img/blocks/dialog_arr.png);
  position: absolute;
  left: -14px;
  top: 6px;
}
#txt {
  width: 100%;
  height: 40px;
  border: 2px solid #5a5a5a;
  background-color: #EFEAEA;
  font-family: "Minecraft";
  font-size: 20px;
  padding: 0 10px;
  margin-top: 50px;
  outline: none;
}
#dark {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #000000;
  color: white;
  font-size: 50px;
  text-align: center;
  padding-top: 200px;
  transition: opacity 1s linear;
}
#dark #change_time {
  opacity: 0;
}
#dark #text {
  font-size: 30px;
  max-width: 700px;
  margin: 0 auto;
}
#dark #text i {
  display: block;
  clear: both;
  margin-top: 50px;
}
.bg_block {
  position: absolute;
  width: 100%;
  height: 400px;
  background-image: url(../img/backgrounds/coffee_in_rain_by_kirokaze-d98qb8z.gif);
  background-position: 0 -197px;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -2;
  margin-left: 0;
  margin-top: 0;
  float: left;
}
.block {
  width: 100%;
  height: 100px;
  float: left;
  margin-left: 0;
  background-color: red;
}
#quest_att {
  width: 35px;
  height: 40px;
  background-color: #f93838;
  line-height: 40px;
  position: absolute;
  top: 50px;
  right: 150px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#quest_att:hover {
  background-color: #f93838;
}
#questTextBox {
  position: absolute;
  width: 400px;
  background-color: rgba(33, 39, 51, 0);
  color: rgba(255, 255, 255, 0);
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  padding: 35px 20px 20px 20px;
  border-radius: 5px;
  top: 0;
  left: 50%;
  margin-left: -210px;
  transition: all .3s ease;
}
#questTextBox i {
  position: absolute;
  top: 5px;
  right: 8px;
  cursor: pointer;
}
#sidebar {
  background-color: rgba(33, 39, 51, 0.5);
  width: 74px;
  height: 339px;
  position: absolute;
  top: 50px;
  left: 200px;
  border: 2px solid #212733;
  border-radius: 5px;
  padding: 5px 0;
  box-sizing: border-box;
  overflow: hidden;
}
#sidebar .item {
  width: 60px;
  height: 55px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
  margin: 5px;
  cursor: pointer;
}
#item_added {
  background-color: rgba(33, 39, 51, 0.9);
  color: #ffffff;
  border-radius: 5px;
  width: 180px;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -90px;
  text-align: center;
  padding: 0 5px 10px 5px;
  box-sizing: border-box;
  transition: all .5s ease;
  line-height: 18px;
}
#item_added #img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
}
#item_added #butt {
  font-size: 12px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 10px;
  width: 17px;
}
#item_added #butt:hover {
  color: #14A514;
}
#item_info {
  background-color: #212733;
  color: #ffffff;
  width: 800px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -400px;
  transition: all .5s ease;
  border-radius: 0 0 5px 5px;
}
